* {
  margin: 0; }

html {
  background-color: black;
  font-family: 'Roboto', sans-serif; }

#vid_wrapper {
  height: auto;
  width: auto; }

iframe {
  border-style: none;
  height: 80vh;
  width: 100vw;
  margin-top: 20px; }
  @media only screen and (max-width: 660px) {
    iframe {
      height: 40vh;
      margin-top: 25px; } }

#text {
  color: grey; }
  #text h1 {
    font-size: 3em;
    text-align: center;
    margin: 20px 8vw;
    padding: 10px 0;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey; }
  #text h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 8vw;
    padding: 10px 0;
    border-bottom: 2px solid grey; }
  #text p {
    font-size: 1.25em;
    margin: 20px 8vw; }

#events {
  color: grey;
  margin-top: 40px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  border-bottom: 2px solid grey; }
  #events h1 {
    font-size: 3em;
    text-align: center;
    margin: 20px 8vw;
    padding: 10px 0;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey; }
  #events h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 20px 8vw;
    padding: 10px 0; }
  #events ul {
    font-size: 1.25em;
    margin: 20px 8vw;
    text-align: left;
    list-style: none; }
  #events li {
    margin: 12px 0;
    border-bottom: 2px dashed grey; }
  #events a {
    color: grey;
    text-decoration: none; }
