* {
    margin: 0;
}

html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#vid_wrapper {
    height: auto;
    width: auto;
}

iframe {
    border-style: none;
    height: 80vh;
    width: 100vw;
    margin-top: 20px;
}


#text {
    color: grey;
    margin-bottom: 100px;
    
    border-bottom: 2px solid grey;


    h1 {
        font-size: 3em;
        text-align: center;
        margin: 20px 8vw;

        padding: 10px 0;
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;

    }

    h2 {
        font-size: 1.5em;
        text-align: center;
        margin: 20px 8vw;

        padding: 10px 0;
        border-bottom: 2px solid grey;

    }

    p {
        font-size: 1.25em;
        margin: 20px 8vw;
    }
}
